@model IEnumerable<CFT.Repo.Model.CAS_ProductInfoVM>

@{
    ViewBag.Title = "Index";
}

<h2>Product Information</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table id="productInfoGrid" class="table table-condensed  sortable table-hover no-margin">
    <tr>
        <th>
            @Html.DisplayName("ProductId")
        </th>
        <th>
            @Html.DisplayName("Business_Unit")
        </th>
        <th>
            @Html.DisplayName("Project Name")
        </th>
        <th>
            @Html.DisplayName("Customer Name")
        </th>
        <th>
            @Html.DisplayName("IEC Contact")
        </th>
        <th>
            @Html.DisplayName("Project Team")
        </th>
        <th>
            @Html.DisplayName("Function")
        </th>
        <th>
            @Html.DisplayName("Customer Email")
        </th>
        <th>
            @Html.DisplayName("Customer Phone")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CAS_ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Business_Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IEC_Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project_Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Function)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Phone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<script type="text/javascript">
    $(document).ready(function () {
        //$("#txtSearch").keyup(function () {
        $(document).on('keyup', '#txtSearch', function () {
            var value = this.value.toLowerCase().trim();
            //var value = this.value;
            $("#productInfoGrid").find("tr").each(function (index) {
                if (!index) return;
                var id = $(this).find("td").text().toLowerCase();
                $(this).toggle(id.indexOf(value) != -1);
            });
        });
    });
</script>